<!DOCTYPE html>
<html lang="zn-cn">
<head>
    <meta charset="UTF-8">
    <title>关注的内容</title>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="../../assets/common/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/maker/css/wenan/wenan.css?__inline"/>
    <!-- 模板js文件 -->
    <script type="text/javascript" src="../../assets/common/js/resize.js?__inline"></script>
</head>
<body>
<header>
    <div class="m-header g-border-b">
        <div class="header-left"><a href="javascript:void(0)" onclick="goBack();" class="back"></a></div>
        <button id="appaButShare" class="indexShare hide" onclick="everyPageWeiXinShare({'isnotshareNow':false})"></button>
        关注的内容
    </div>
</header>
<div class="wrapper padding-wrapper-top hide" id="container">
    <div class="top-bg g-border-b"></div>
    <ul v-if="datas.contentList.length" class="sc-list">
        <li v-for="item in datas.contentList">
            <a href="wenAnDetails.html?contentId={{item.contentId}}">
                <div class="img"><img :src="item.mainUrl|qiniuImgFilter 2 250 250" alt="收藏的文案图片"></div>
                <div class="con">
                    <p class="text-24 text-justify" v-text="item.title"></p>
                    <!-- <time>2016-10-21</time> -->
                </div>
            </a>
        </li>
    </ul>
    <!-- 数据为空时提示 -->
    <div v-if="!datas.contentList.length" class="text-center common-size">暂无数据！</div>
</div>
<!-- script -->
<script type="text/javascript" src="../../assets/common/js/main.js"></script>
<script type="text/javascript" src="../../assets/trueme/js/function/function.js"></script>
<script type="text/javascript" src="../../assets/maker/js/wenan/shoucangwenan.js?__inline"></script>
</body>
</html>