.wenan .top .bianji { margin: 0.1rem 0 .3rem; position: relative; padding-left: .2rem; height: 0.52rem; line-height: 0.5rem; overflow: hidden; }
.wenan .top .bianji span { font-size: 0.3rem; color: #4a4a4a; }
.wenan .top .bianji .shouchang { position: absolute; right: 0.2rem; top: 0; padding: 0; width: 1.2rem; height: 0.5rem; border-radius: 5px; text-align: center; font-size: 0.16rem; color: #fd4a4a; line-height: 0.51rem; }
.wenan .top .bianji .shouchang span { color: #fd4a4a; font-size: 0.2rem; }
.wenan .center { width: 100%; height: 5.6rem; overflow: hidden; }
.wenan .center img, .wenan-list .center img { width: 100%; height: auto; }
.wenan-p { padding: .4rem .4rem; font-size: .28rem; color: #4a4a4a; }
.wenan-fy { padding: 0 .4rem; color: #aaa; font-size: .22rem; }
.wenan-fy .can { color: #4a4a4a; float: right; padding-left: .3rem; margin-right: .25rem; background: url("../../images/index/icon-c.png") no-repeat center left; background-size: .25rem; }
.wenan-fy .fx { color: #4a4a4a; float: right; padding-left: .3rem; background: url("../../images/index/icon-fx.png") no-repeat center left; background-size: .25rem; }
.wenan-fy .fx1 { float: right; padding-left: .35rem; background: url("../../images/index/143.png") no-repeat center left; background-size: .3rem; }
.wenan-list h4 { padding: .1rem .4rem; }
/*文案列表*/
.wenan-list .block { margin-bottom: .4rem; }
.pro { position: relative; width: 7.1rem; margin: 0 auto; height: 1.2016rem; padding: .008rem; box-sizing: content-box; -webkit-box-sizing: content-box; overflow: hidden; background-color: #fbfbfb; }
.pro b.g-border { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2 }
.pro b.g-border:before { border-color: #f0f0f0 }
.pro > a { position: absolute; top: .008rem; left: .008rem; width: 3.8rem; display: block; z-index: 5 }
.pro > a img { float: left; width: 1.2rem; height: 1.2rem; overflow: hidden; }
.pro > a .con { float: left; width: 2rem; margin-left: .2rem; padding-top: 0.18rem; }
.pro > a .con span { font-size: .26rem; font-weight: 700; }
.pro > a .con del { padding-left: .1rem; font-size: .22rem; color: #aaa; }
.pro > a .con p { font-size: .22rem; padding-top: .1rem; }
.pro .pro-btn { position: absolute; top: .008rem; right: .1rem; z-index: 4; }
.pro .pro-btn a { margin-top: .3rem; border-radius: .5rem; font-size: .22rem; }
.pro .pro-btn a.badge:before { border-color: #f0f0f0; border-radius: 1rem; }
.pro .pro-btn a.pay:before { border-radius: 1rem; }
/*本文商品*/
.text-good { position: relative; text-align: center; height: .4rem; line-height: .4rem; width: 100%; margin-top: .2rem; }
.text-good i { display: inline-block; position: absolute; top: 50%; left: 50%; width: 3rem; height: 1px; margin-left: -1.5rem; background-color: #000; z-index: 8; }
.text-good span { display: inline-block; position: absolute; top: 0; left: 50%; width: 1.5rem; margin-left: -.75rem; text-align: center; background-color: #fff; font-size: .32rem; z-index: 10; }
.text-goods { overflow: hidden; margin-top: .2rem; padding: 0 .2rem .2rem; }
.text-goods .swiper-slide { width: 1.4rem; margin-right: .2rem; }
.text-goods .swiper-slide .img { width: 1.4rem; height: 1.4rem; overflow: hidden; }
.text-goods .swiper-slide .img img { width: 1.4rem; height: 1.4rem; }
.text-goods .swiper-slide p {padding-top: .1rem; font-size: .26rem; font-weight: 700; }
.text-goods .swiper-slide span { font-size: .22rem; color: #aaa; }
/*三按钮*/
.wa-btn { width: 100%; margin-top: 1rem; text-align: center; overflow: hidden; }
.wa-btn li { display: inline-block; width: 1.25rem; height: 1.35rem; text-align: center; }
.wa-btn li.dianzan { background: url("../../images/content/dzan.png") no-repeat center .1rem; background-size: .8rem auto }
.wa-btn li.dianzan.active { background: url("../../images/content/dzan2.png") no-repeat center .1rem; background-size: .8rem auto }
.wa-btn li:nth-child(2) { background: url("../../images/content/fenx.png") no-repeat center .1rem; background-size: .8rem auto }
.wa-btn li:nth-child(2).active { background: url("../../images/content/fenx2.png") no-repeat center .1rem; background-size: .8rem auto }
.wa-btn li:nth-child(3) { background: url("../../images/content/xin.png") no-repeat center .1rem; background-size: .8rem auto }
.wa-btn li:nth-child(3).active { background: url("../../images/content/xin2.png") no-repeat center .1rem; background-size: .8rem auto }
.wa-btn li a { display: block; width: 100%; height: 100%; padding-top: 1rem; font-size: .22rem; color: #4a4a4a; vertical-align: bottom; }
.share { position: fixed; top: 0; left: 0; right: 0; height: 100%; width: 100%; max-width: 7.5rem; margin: 0 auto; background: rgba(0, 0, 0, .8) url("../../../common/images/yuzaishangm.png") no-repeat 2.5rem .5rem; background-size: 4.5rem auto; z-index: 10000; }
/*收藏的文案*/
.top-bg { height: .2rem; background-color: #f0f0f0; }
.sc-list { background-color: #fff; overflow: hidden; }
.sc-list li { height: 1.8rem; padding: .2rem .2rem 0; }
.sc-list li .img { float: left; width: 2.6rem; height: 1.6rem; margin-right: .2rem; background-color: #f0f0f0; }
.sc-list li .img img { max-width: 2.6rem; min-height: 100%; }
.sc-list li .con { position: relative; float: left; width: 4.25rem; height: 1.6rem; }
.sc-list li .con time { position: absolute; right: 0; bottom: 0; font-size: .24rem; color: #aaa; }
/*shopCart-box*/
.masked { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .4); z-index: 1000; opacity: 0; -webkit-transition: all .3s; transition: all .3s; }
.shopCart-con { position: fixed; bottom: 0; left: 0; width: 100%; max-height: 8rem; background-color: #fff; z-index: 1002; overflow-y: auto; -webkit-transform: translateY(100%); transform: translateY(100%); -webkit-transition: all .5s; transition: all .5s; opacity: 0; }
.shopCart-box.on .masked { display: block; opacity: 1; }
.shopCart-box.on .shopCart-con { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
.shopCart-con .money { height: 1.2rem; line-height: 1.2rem; }
.shopCart-con .money .pull-right { display: block; width: 1rem; height: 100%; background: url("/assets/common/images/PopLayer-close.png") no-repeat right center; }
.shopCart-con .box-btn { width: 100%; height: .88rem; line-height: .88rem; text-align: center; font-size: .28rem; color: #fff; background-color: #fd4a4a; }
.color-hd { height: 1.2rem; line-height: 1.2rem; }
.color-hd .pull-right i { display: inline-block; width: .4rem; height: .4rem; vertical-align: middle; background-image: url("/assets/trueme/images/common/arrow_down.png"); background-repeat: no-repeat; background-position: center; background-size: .35rem; }
.color-hd.active .pull-right i { background-image: url("/assets/trueme/images/common/arrow_up.png"); background-position: center 40%; }
.color-bd { display: none; }
.color-bd > .money { height: .9rem; line-height: .5rem; padding: .25rem 0; }
.color-bd-t { height: 1.6rem; padding: .25rem 0; }
.color-bd-t .img { float: left; width: 1.1rem; height: 1.1rem; margin-right: .2rem; background-color: #e0e0e0; }
.color-bd-t .img img { max-width: 1.1rem; min-width: 1.1rem; }
.color-bd-c { min-height: 1.6rem; }
.color-bd-c ul { width: 110%; margin-top: .2rem; }
.color-bd-c ul li { float: left; padding: 0 5px; font-size: 12px; height: .5rem; margin-right: .25rem; margin-bottom: .25rem; line-height: .5rem; text-align: center; color: #333; }
.color-bd-c ul li.checked { color: #fd4a4a; }
.color-bd-c ul li:before { border-radius: .1rem; }
.color-bd-c ul li.checked:before { border-color: #fd4a4a; }
.shopCart-con .num { height: 1rem; line-height: 1rem; overflow: hidden; }
.num .pull-right { position: relative; height: .6rem; width: 1.8rem; margin-top: .25rem; }
.num .pull-right:before { border-radius: .1rem }
.num .pull-right .left, .num .pull-right .right { display: block; position: absolute; top: 0; height: 100%; width: .6rem; height: .6rem; line-height: .6rem; text-align: center; color: #4a4a4a; z-index: 10; font-size: .3rem; }
.num .pull-right .left { left: 0; }
.num .pull-right .left.disabled, .num .pull-right .right.disabled { color: #aaa }
.num .pull-right .right { right: 0; }
.num .pull-right .center { display: block; position: absolute; left: .6rem; width: .7rem; line-height: .6rem; padding-left: .2rem; }
/*视频*/
.video { overflow: hidden; width: 100%; height: 7.5rem; background-color: #000; margin: .2rem 0; position: relative; }
.video .video-mainimg { width: 100%; height: 4.6rem; position: absolute; left: 0; top: 0; z-index: 101; }
.video .video-mainimg .masker { position: absolute; left: 0; top: 0; z-index: 100; width: 100%; height: 100%; background: rgba(0, 0, 0, .4); }
.video .video-mainimg img { width: 100%; height: 100%; }
.video .playIcon { background: url('../../../common/images/play.png') no-repeat center center; background-size: 100%; position: absolute; left: 50%; top: 50%;
    width: 1rem; height: 1rem; margin: -0.5rem 0 0 -0.5rem; cursor: pointer; z-index: 102;
}
.video video { width: 100%; height: 7.5rem; position: absolute; left: 0; top: 0; background-color: #000; background-repeat: no-repeat; background-size: 100% 6rem; }
.video .blur { width: 110%; height: 3.2rem; position: absolute; left: -5%; bottom: .02rem; z-index: 100; background-size: 100% auto; background-position: left bottom;
    filter: blur(8px); -webkit-filter: blur(8px); transform: rotateX(180deg); -webkit-transform: rotateX(180deg);
}
.video .video-con { width: 100%; height: 3rem; position: absolute; left: 0; bottom: 0; margin-top: -.1rem; z-index: 103; }
.video .video-con .video-con-t { margin-top: .2rem; line-height: .5rem; text-align: center; font-size: .3rem; color: #fff; padding: .4rem .2rem; height: 2rem; overflow: hidden; }
.video .video-con .video-con-b { height: .8rem; width: 100%; padding: .2rem .2rem 0; position: absolute; left: 0; bottom: 0; }
.video .video-con .video-con-b span { height: .4rem; line-height: .46rem; color: #fff; padding-left: .45rem; margin-right: .2rem; vertical-align: top; }
.video .video-con .video-con-b span.comment { float: left; background: url("../../../common/images/74-comment.png") no-repeat left center; background-size: .39rem auto }
.video .video-con .video-con-b span.zan { float: left; background: url("../../../common/images/74-zan.png") no-repeat left center; background-size: .39rem auto }
.video .video-con .video-con-b span.xin { float: left; background: url("../../../common/images/74-xin.png") no-repeat left center; background-size: .39rem auto }
.video .video-con .video-con-b span.xin.active { background-image: url("../../../common/images/74-xin-active.png") }
.video .video-con .video-con-b span.zhuangfa { float: right; margin: 0; background: url("../../../common/images/74-zhuangfa.png") no-repeat left center; background-size: .39rem auto }
