<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>购物车</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <script type="text/javascript" src="../../assets/common/js/resize.js?__inline"></script>
<!-- 样式文件 -->
    <link rel="stylesheet" type="text/css" href="../../assets/common/css/main.css" />
<!-- 内部样式 -->
    <style>
        html{background-color: #f2f2f2;}
        .cart-empty{ margin-top: 3.84rem; }
        .cart-empty img{display: block; width: 2.62rem; margin: 0 auto;}
        .product-list{margin-bottom: .2rem; overflow:hidden;}
        .product-list > li{ overflow:hidden; background-color:#fff;}
        .product-list > li .product-title{position:relative; padding-left:.73rem; height:.7rem; line-height:.72rem;}
        .unselect-icon{position: absolute; top: 50%; left:.18rem; width: .39rem; height:.39rem; background:url('../../assets/trueme/images/main/select_icon.png') no-repeat 0 -.39rem; background-size: .39rem .78rem; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
        .select-icon{background-position: 0 0;}
        .product-list > li .product-info{ overflow: hidden;}
        .product-list > li:last-child .product-info:last-child{margin-bottom: 0;}
        .product-list > li .product-info:first-child{ border-top: none;}
        .product-list > li .product-info .product-info-box{position:relative; overflow: hidden;}
        .product-main{display: block; margin-left:1.04rem; min-height: 2.5rem; overflow: hidden;}
        .product-info .product-img{position: relative; float:left; width: 1.3rem; height: 1.3rem; padding-top: .5rem; padding-right: .34rem; box-sizing: content-box; -webkit-box-sizing: content-box;}
        .product-info .product-img img{display:block; width:1.3rem; height:1.3rem;}
        .product-info .product-img .sold-out{position: absolute; top:.5rem; left:0; right:.34rem; bottom:0; background-color: rgba(0,0,0,0.4); text-align: center; line-height: 1.3rem; font-size: .24rem; color: #fff;}
        .product-info .product-img .foreignIcon{position: absolute; right: .34rem; bottom:0; padding:0 .04rem; background-color: rgba(123,142,255,0.9); text-align: center; font-size: .18rem; color: #fff;}
        .product-info .product-des{padding-right:.2rem; overflow:hidden;}
        .product-info .product-des h3{padding-top:.34rem; margin-right: .04rem; line-height: .3rem; min-height:.6rem; font-size: .26rem; color:#000; font-weight: bold; -webkit-line-clamp:2; -webkit-box-orient: vertical; display:-webkit-box; overflow: hidden; text-overflow: ellipsis; text-align: justify; box-sizing: content-box; -webkit-box-sizing: content-box;}
        .product-info .product-des .product-spec{ vertical-align: top; margin-top: .04rem; font-size: .24rem; color:#a4a4a4; display: inline-block;}
        .product-info .product-des .now-num{display: inline-block; float: right; margin-top: .04rem; font-size: .24rem; color: #4a4a4a; margin-right: .04rem;}
        .product-info .price-and-num{margin-top:.34rem; font-size: .2rem; color:#a4a4a4; line-height: .53rem; font-weight: bold; overflow:hidden;}
        .product-info .price-and-num .product-price{font-size: .3rem; color: #fd4a4a;}
        .product-info .num-control{position:relative; float:right; width: 1.83rem; height:.53rem;line-height: .54rem; margin-right: .03rem;text-align: center}
        .product-info .num-control:before{border-radius: .1rem}
        .product-info .num-control .less-btn{position:absolute; top: 0; left: 0; bottom: 0; width: .58rem; z-index: 10;font-size:.3rem;}
        .disabled::before{content: ''; position: absolute; top:.04rem; left: .04rem; right: .04rem; bottom:.04rem; opacity: 0.8; background-color:#fff;}
        .product-info .num-control .add-btn{position:absolute; top: 0; right: 0; bottom: 0; width: .58rem;line-height: .54rem; z-index: 10; text-align: center;font-size:.3rem;}
        .product-info .num-control .product-num{position:absolute; top: 0; left: 0; right: 0; bottom: 0; text-align:center; line-height:.53rem; max-width: .68rem; margin:0 auto; z-index: 5; font-size: .24rem; color: #010101; overflow: hidden;}
        .product-info .product-tax{margin-top:.05rem; font-size: .24rem; color: #4a4a4a; text-align:right; }

        .product-info .delete-icon{position: relative; float: right; right: -.1rem; width: .53rem; height: .53rem;}
        .product-info .delete-icon span{position: absolute; top:50%; right: 50%; margin-top: -.19rem; margin-right: -.18rem; width: .36rem; height: .38rem; background: url('../../assets/trueme/images/cart/cart_delete.png') no-repeat 0 0; background-size: cover;}

        .product-list > li .coast-count{text-align:right; padding:.3rem .5rem .2rem 0; font-size:.24rem; color:#2c2c2c;}
        .product-list > li .coast-count .coast-count-value{ float:right; min-width:1rem;}
        .product-list > li .coast-count .coast-count-key{overflow:hidden;}

        .recommend{background-color: #fff; overflow: hidden;}
        .recommend-list{padding: .14rem .15rem 0;}
        .recommend-list li{float: left; padding:0 .05rem .34rem; }
        .recommend-list li .recommend-img{ width: 3.5rem; height: 3.5rem; }
        .recommend-list li .recommend-img img{display: block; width: 3.5rem; height: 3.5rem; }
        .recommend-list li p{margin-top: .06rem; height: .52rem; line-height: .52rem; text-align: center;}
        .recommend-list li .recommend-price{ text-align: center; color: #fd4a4a;}
        .toobar{width: 100%; height: .98rem; z-index: 1000;position: fixed; bottom:0;}
        .toobar .too-wrap{ width: 100%; max-width: 7.5rem; height: .98rem; background-color: #fefefe;}
        .too-wrap .select-all{display:inline-block; float: left; padding-left: .66rem; line-height: 1rem;}
        .too-wrap .final-coast{position:relative; overflow: hidden;}
        .too-wrap .final-coast .pay-btn{float:right; width: 2.6rem; height:.98rem; line-height: .98rem; background-color: #fd4a4a; text-align: center; font-size: .3rem; color: #fff; }
        .too-wrap .final-coast .pay-btn span{ font-size: .2rem; }
        .too-wrap .final-coast .final-coast-text{position: absolute; top: 50%; left: 0; right: 2.78rem; text-align:right; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
        .too-wrap .final-coast .final-total{ font-size: .26rem; color: #000; font-weight: bold; }
        .too-wrap .final-coast .final-total span{ color: #fd4a4a;}
        .too-wrap .final-coast .final-des{ margin-top: -.05rem; font-size: .2rem; color: #a4a4a4;  }
    </style>
<!-- 模板js文件 -->
    <script src="../../assets/common/js/main.js"></script>
    <script src="../../assets/common/js/swiper-3.3.1.jquery.min.js"></script>
    <script src="../../assets/trueme/js/cart/cart.js?__inline"></script>
</head>
<body>
	<div class="wrapper">
        <div id="container" class="hide">
            <div class="header g-border-b">
                <div class="header-back-box" onclick="goBack()">
                    <span class="header-back"></span>
                </div>
                <a href="../../index.html" class="trueme-home"></a>
                <span class="header-title">购物车</span>
                <span class="header-edit toComplete" v-show="!showDelete && items.length" v-on:click="toDelete">编辑</span>
                <span class="header-edit completeDelete" v-show="showDelete && items.length" v-on:click="completeDelete">完成</span>
            </div>
            <div class="cart-empty" v-show="!items.length">
                <a href="/index.html">
                    <img src="../../assets/trueme/images/cart/cart_empty.png" />
                </a>
            </div>
            <ul class="product-list" v-show="items.length">
                <li v-for="item in items" v-bind:data-sku-id="item.skuId" v-bind:data-spu-id="item.spuId" v-bind:data-isentrance="item.isEntrance" v-bind:data-share-id="item.shareId ? item.shareId : 0" v-bind:data-sku-type="item.skuType">
                    <div class="product-info g-border-b">
                        <div class="product-info-box">
                            <span class="unselect-icon" :class="{'select-icon':item.isSelected?true:false}" v-on:click="singleSelect(item)"></span>
                            <div class="product-main">
                                <a class="product-img" v-bind:href="'../ware/wareDetail.html?spuId=' + item.spuId">
                                    <img v-bind:src="item.skuIcon + '?imageView2/0/w/130/h/130'" alt="" />
                                    <span class="foreignIcon" v-show="item.isEntrance">海外商品</span>
                                    <div class="sold-out" v-show="!item.spuStatus">已下架</div>
                                </a>
                                <div class="product-des">
                                    <a v-bind:href="'../ware/wareDetail.html?spuId=' + item.spuId">
                                        <h3 v-text="item.skuName"></h3>
                                    </a>
                                    <div class="product-spec-outer">
                                        <div class="product-spec" v-text="item.skuDesc"></div>
                                        <div class="now-num">x<i v-text="item.skuNum"></i></div>
                                    </div>
                                    <div class="price-and-num">
                                        <span class="product-price" v-bind:data-sku-price="item.skuPrice">&yen; <i v-text="item.skuPrice*item.skuNum | currency ''"></i></span>
                                        <div class="num-control g-border" v-if="item.spuStatus" v-show="!showDelete">
                                            <span class="g-border-r" v-bind:class="{'less-btn' : 1, 'disabled' : item.skuNum == 1}" v-on:click.stop.prevent="lessNum(item)">-</span>
                                            <span class="product-num" v-text="item.skuNum"></span>
                                            <span class="add-btn g-border-l" v-on:click.stop.prevent="addNum(item)">+</span>
                                            <input type="hidden" name="numBox" v-bind:value="item.skuNum" />
                                        </div>
                                        <div class="delete-icon" v-show="showDelete" v-on:click.stop.prevent="deleteItem($index,item)">
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="toobar" v-show="items.length">
                <div class="too-wrap g-border-t">
                    <div v-on:click="allSelect">
                    <span class="unselect-icon" :class="{'select-icon':allMsg.isAllSelected?true:false}" ></span>
                    <span class="select-all" >全选</span>
                    </div>
                    <div class="final-coast">
                        <div class="final-coast-text">
                            <p class="final-total">总价&nbsp;:&nbsp;<span>&nbsp;<i v-text="allMsg.totalPrice | currency '¥'"></i></span></p>
                            <p class="final-des">(包邮，不含运费)</p>
                        </div>
                        <div class="pay-btn" v-on:click="submit">去结算&nbsp;<span>(<i v-text="allMsg.totalNum"></i>)</span></div>
                    </div>
                </div>
            </div>
            <div class="recommend see-more hot-see-more hide" v-show="items.length">
                <div class="recommend-title"><span>为你推荐</span></div>
                <!-- hot 看了又看 -->
                <link rel="import" href="../main/getHotSaleList.html?__inline">
            </div>
            <div style="height: .88rem;"></div>
        </div>
	</div>
</body>
</html>
